.about-footer {
  width: 100%;
  height: 455px;
  background-color: #EE4367;
  margin: 0 auto;
  margin-top: 200px;
}
.about-footer .logoTwo {
  width: 92px;
  height: 42px;
  /* background-color: blueviolet; */
  border: solid 2px white;
  position: relative;
  margin: 0 auto;
  top: 40px;
  left: -20px;
}
.about-footer p {
  position: absolute;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  /* font-stretch: semi-expanded; */
  font-size: 24px;
  font-weight: lighter;
  margin-left: -1px;
  top: 16px;
  color: white;
}
.about-footer .add {
  position: absolute;
  width: 260px;
  margin: 0 auto;
  height: 100px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  top: 70px;
  margin-left: -80px;
}
.about-footer .userInput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.about-footer .userInput input {
  position: absolute;
  top: 960px;
  width: 529px;
  height: 64px;
  left: 556px;
  background-color: #F56B88;
  border-color: #F56B88;
  color: white;
  font-size: 16px;
}
.about-footer .userInput button {
  position: absolute;
  top: 960px;
  padding: 22.5px 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: normal;
  font-size: 16px;
  left: 1086px;
  color: #EE4367;
  border: none;
  background-color: white;
}
.about-footer .icons {
  position: absolute;
  left: 800px;
  top: 1050px;
  font-size: 40px;
  color: white;
}
.about-footer .icons span {
  margin-left: 10px;
}
.about-footer .copy {
  position: absolute;
  width: 600px;
  left: 780px;
  top: 1100px;
}
.about-footer .copy p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: normal;
  font-size: 12px;
}