.about-footer {
    width: 100%;
    height: 455px;
    background-color: #EE4367;  
    margin: 0 auto;
    margin-top: 200px;

    .about-logo {
        width: 92px;
        height: 42px;
        /* background-color: blueviolet; */
        border: solid 2px white;
        position: relative;
        margin: 0 auto;
        top: 60px;
        left: -20px;
    }

        p {
            position: absolute;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            /* font-stretch: semi-expanded; */
            font-size: 24px;
            font-weight: lighter;
            margin-left: -1px;
            top: 16px;
            color: white;
      }

      .about-address {
        position: absolute;
        width: 260px;
        margin: 0 auto;
        height: 100px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 16px;
        font-weight: normal;
        text-align: center;
        top: 90px;
        margin-left: -80px;
    }

    .about-userInput {
        display: flex;

        input{
            position: absolute;
            top: 960px;
            width: 529px;
            height: 64px;
            left: 500px;
            background-color: #F56B88;
            border-color: #F56B88;
            color: white;
            font-size: 16px;
        }

        button {
            position: absolute;
            top: 960px;
            padding: 22.5px 30px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-weight: normal;
            font-size: 16px;
            left: 1020px;
            color: #EE4367;
            border: none;
            background-color: white;
          }
    }

    .about-icons {
        position: absolute;
        left: 740px;
        top: 1050px;
        font-size: 40px;
        color: white;

        span{
            margin-left: 10px;
          }
       }

       .about-copy{
        position: absolute;
        width: 600px;
        left: 720px;
        top: 1100px;

        p{
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-weight: normal;
            font-size: 12px;
          }
       }
}